<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,900' rel='stylesheet' type='text/css' />
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% unless @no_header %>
  <header>
    <h1 class="headerTitle"><%= link_to CONFIG['title'], root_url %></h1>
    <span><%= CONFIG['tagline'].html_safe %></span>
    <ul>
      <% if CONFIG['twitter'] %>
        <li><%= link_to '@' + CONFIG['twitter'], 'http://twitter.com/' + CONFIG['twitter'] %></li>
      <% end %>
      <% if CONFIG['github'] %>
        <li><%= link_to 'my github', 'https://github.com/' + CONFIG['github'] %></li>
      <% end %>
      <% if CONFIG['email'] %>
        <li><%= link_to 'email me', "mailto:#{CONFIG['email']}?subject:whats up!" %></li>
      <% end %>
      <li><%= link_to 'get rss', '/posts.rss' %></li>
    </ul>
    <p class="expo">"Site built using <%= link_to "Obtvse", "https://github.com/natew/obtvse" %>
      running on <%= link_to "Heroku", "http://www.heroku.com/" %>"</p>


  </header>
  <% end %>

  <div id="container">
    <% unless @no_header %>
      <time><% if @post && @post.created_at %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
    <% end %>
    <div id="content">
      <% if notice %><span class="notice"><%= notice %></span><% end %>
      <%= yield %>
    </div>
  </div>
<!-- <footer>
  <p>Hello. My name is Ryan Rich. I am a product designer and front-end web developer. I made this site using these tools <a href="">Obtvse</a>, <a href="">Google Fonts</a>, and <a href="">Heroku</a></p>
</footer> -->
  <%= javascript_include_tag 'application' %>

  <% if CONFIG['google_analytics_id'] %>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','<%= CONFIG['google_analytics_id'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>
</body>
</html>
